In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/netflix_data.csv")
data.head()

  show_id  ...             genre
0      s1  ...  International TV
1      s2  ...            Dramas
2      s3  ...     Horror Movies
3      s4  ...            Action
4      s5  ...            Dramas

[5 rows x 11 columns]

In [ ]:
#cast_mean = data["cast"].mean()
def cast_mem(n):
  if n == "Nan":
    return 0
  else:
    arr = len(data.loc[:"cast"].sum())
    #arr.split(", ")

In [ ]:
data["no_of_cast"] = data['cast'].apply(cast_mem)
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
data.groupby("genre")["type"].value_counts()